<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>甘肃野鸡大学</strong>
                        <span>2016 - 2019 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>接受新事物的快，学习能力强
                        </p>
                        <p>喜欢运动，梦想百万富翁。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->